<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yihai">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/JzAppTheme">
        <activity android:name=".ui.account.LoginActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".ui.in.StorageInActivity" />
        <activity android:name=".ui.out.StorageOutActivity" />
        <activity android:name=".ui.check.StorageCheckActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.main.BluetoothListActivity"></activity>
    </application>

</manifest>